.acquisto {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 20px;
}

.grazie {
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.torna {
    display: flex;
    justify-content: center;
    padding: 20px;
}

input.procedi {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 18px;
    background-color: gray;
}

.responsive {
  max-width: 100%;
  height: auto;
}