 
 * {
      margin: 0;
      padding: 0;
    }
    
    /* Stile del body */
    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
     .video-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
    }
    
    /* Stile del video */
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Stile del contenitore del contenuto principale */
    .content {
      margin-top: 100px;
      text-align: center;
      flex-grow: 1;
      position: relative;
      z-index: 1;
    }
    
    
      /* Media query per il layout responsive */
    @media screen and (max-width: 768px) {
      .navbar {
        position: fixed;
        width: 100%;
      }
      
      .navbar li {
        float: none;
        display: inline-block;
      }
      
      .content {
        margin-top: 70px;
      }
      
      .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
      }
    }